<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do list</title>
    <style>
        .hidden {
            display: none;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }

        li {
            clear: both;
        }

        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }

        .lists-wrapper,
        .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body>
    {% if lists %}
    <div class="lists-wrapper">
        <ul id="lists">
            {% for list in lists %}
            <li>
                <a href="/lists/{{ list.id }}">
                    {{ list.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="todos-wrapper">
        {% if active_list %}<h4>{{ active_list.name }}</h4>{% endif %}
        <form id="form">
            <input type="text" id="description" name="description" />
            <input type="submit" value="Create" />
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for d in data %}
            <li>
                <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked
                    {% endif %} />
                {{ d.description }}
                <button class="delete" data-id="{{ d.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        const deleteButton = document.querySelectorAll('.delete');
        for (let i = 0; i < deleteButton.length; i++) {
            const button = deleteButton[i];
            button.onclick = function (e) {
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                })
            }
        }


        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function () {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })
            }
        }
        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function () {
                    document.getElementById('error').className = '';
                })
        }
    </script>
</body>
</html>